{% extends "index.html" %}
{% from "widgets/chat.html" import chat_list, display_current_chat with context %}

{% block title %}Main{% endblock %}
{% block additional_style %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/chat.css') }}">
{% endblock %}

{% block content %}
<div class="container">

    <div class="sidebar">
        <button onclick="newChat()">New chat</button>

        {{ chat_list(chats) }}
          <!-- bottom -->
        <button id="logout-btn">Exit</button>
    </div>

    <div class="chat">
        {{ display_current_chat(current_chat) }}

        <div class="input-area">
            <input id="message-content" type="text" placeholder="Ask me something...">
            <button id="message-send" onclick="sendMessage()">Send</button>
        </div>
    </div>
</div>

<script>
  function newChat() {
      window.location.href = "/";
  };

  async function sendMessage() {
    const input_field = document.getElementById("message-content");
    const text_data = input_field.value;
    if (!text_data) {
        return;
    };
    input_field.value = "";
    const payload = JSON.stringify({content: text_data});
    try {
        const response = await fetch('/message/send', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: payload,
        });
        const data = await response.json();
        if (data.redirect_to) {
            window.location.href = data.redirect_to;
            return;
        } else {
          createMessage(text_data, "message-right");

        }

    } catch (err) {
        console.log(err);
    };
  };

  const input = document.getElementById("message-content");
  input.addEventListener('keydown', (e) => {
    if (e.key === 'Enter') {
      e.preventDefault();
      sendMessage();
    }
  });

  document.getElementById("logout-btn").addEventListener("click", async () => {
  try {
    const response = await fetch("/logout", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
    });

    if (response.ok) {
      window.location.reload();
    } else {
      const errorText = await response.text();
      alert("Error: " + errorText);
    }
  } catch (err) {
    alert("Connection error: " + err.message);
  }
});
</script>
{% endblock %}