{% macro chat_list(chats) %}
  <div class="chat-list">
    {% for chat in chats %}
      <button onclick="openChat({{ chat.id }})">{{ chat.name }}</button>
    {% endfor %}
  </div>
  <script>
    function openChat(chatId) {
      window.location.href = `/chat/${chatId}`;
    }
  </script>
{% endmacro %}

{% macro display_current_chat(messages) %}
<div class="messages" id="messages">
  {% for message in messages %}
    {% if message.sender == "ai" %}
      <div class="message-left">{{ message.content }}</div>
    {% else %}
      <div class="message-right">{{ message.content }}</div>
    {% endif %}
  {% endfor %}
</div>
<script>
    function createMessage(messageText, senderClass) {
      const div = document.createElement('div');
      div.className = senderClass;
      div.textContent = messageText;

      const message_container = document.getElementById('messages');
      message_container.appendChild(div);
      return div;
    };
</script>
{% endmacro %}